#contact {
    text-align: center;
    padding: 50px 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: auto;
  }
  
  input, textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
  }
  
  button {
    background: #00f2fe;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  